<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
        <%- include("./partials/header") %>
    </header>
    <div class="container" style="margin-top: 40px;">
        <h2>Hi <%= locals.userLogged.nombre %> </h2>
        <img src="/img/<% if(locals.userLogged.agenteId){ %>agentes<% }else{ %>users<% } %>/<%= locals.userLogged.imagen %>">
        <h2> <%= locals.userLogged.email %> </h2>
    </div>
<footer>
    <%- include("./partials/footer") %>
</footer>

</body>

</html>