<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
    <%- include("./partials/header") %>
    </header>
    
    <h2>Reservas</h2>
    <div class="reservas">
        <div class="reserva-ind">
            <img class="imagen-res" src="/img/<%= propiedad.image %>">
            <i class="fas fa-times"></i>
            <h3 class="res-des">Estado de la reserva: <%= reserva.status%></h3>
            <h3 class="res-des">Precio de la reserva: <%= reserva.precioDeReserva%> </h3>
        </div>
        <div class="boton-reservas">
    </div>
    


    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>