<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
        <%- include("./partials/header") %>
    </header>

    <h2 class="title">Agregar nuevo producto</h2>

    <form action="/producto" method="PUT">

        <div class="form-background">

            <div class="div-box">
                <label class="labell" for="name">Nombre del producto</label>
                <input class="inputt" type="text" name="name" id="name" value=<%= product.name%>>
            </div>
            
            <div class="div-box">
                <label class="labell" for="desc">Descripción del producto</label>
                <textarea class="inputt" name="comentario" rows="10" cols="40" ><%=product.descripcion%></textarea>
            </div>

            <div class="div-box">
                <label class="labell" for="name">Direccion</label>
                <input class="inputt" type="text" name="name" id="name" value=<%=product.direccion%>>
            </div>

            <div class="div-box">
                <label class="labell" for="name">Antiguedad</label>
                <input class="inputt" type="number" name="name" id="name" value=<%=product.antiguedad%>>
            </div>
            
            <div class="div-box">
                <label class="labell" for="name">Superficie Cubierta</label>
                <input class="inputt" type="number" name="name" id="name" value=<%=product.superficieCubierta%>>
            </div>

            <div class="div-box">
                <label class="labell" for="name">Superficie Descubierta</label>
                <input class="inputt" type="number" name="name" id="name" value=<%=product.superficieDescubierta%>>
            </div>

            <div class="div-box">
                <label class="labell" for="name">banios</label>
                <input class="inputt" type="number" name="name" id="name" value=<%=product.banios%>>
            </div>

            <div class="div-box">
                <label class="labell" for="name">cocheras</label>
                <input class="inputt" type="number" name="name" id="name" value=<%=product.cocheras%>>
            </div>

            <div class="div-box">
                <label class="labell" for="name">dormitorios</label>
                <input class="inputt" type="number" name="name" id="name" value=<%=product.dormitorios%>>
            </div>

            <div class="div-box">
                <label class="labell" for="name">ambientes</label>
                <input class="inputt" type="number" name="name" id="name" value=<%=product.ambientes%>>
            </div>

            <div class="div-box">
                <label class="labell" for="name">barrio</label>
                <input class="inputt" type="text" name="name" id="name" value=<%=product.barrio%>>
            </div>

            <div class="div-box">
                <label class="labell" for="img">Imagen del producto</label>
                <input class="inputt" type="file" name="archivo" id="archivo">
            </div>

            <div class="div-box">
                <label class="labell" for="categoria">Categoría</label><br><br>
                <input type="radio" name="compra-venta" value="compra"> Compra <br><br>
                <input type="radio" name="compra-venta" value="alquiler"> Alquiler
            </div>

            <div class="div-box">
                <label class="labell" for="precio">Precio</label>
                <input class="inputt" type="number" name="precio" id="precio" value=<%=product.precio%>>
            </div>

            <div class="div-button">
                <button class="buttonn" type="submit">EDITAR</button>
            </div>

        </div>

    </form>



    <footer>
        <%- include("./partials/footer") %>
    </footer>

</body>

</html>